@{
  ViewData["Title"] = "Settings";
}

<div class="app-settings app-container">
  <div class="settings-grid py-5">
    <a asp-action="Me" asp-controller="Settings" class="grid-item">
      <div class="title">Thông tin cá nhân</div>
      <div class="content">
        <img src="~/icons/user.png" alt="">
      </div>
    </a>
    <a asp-action="ChangePassword" asp-controller="Settings" class="grid-item">
      <div class="title">Thay đổi mật khẩu</div>
      <div class="content">
        <img src="~/icons/password.png" alt="">
      </div>
    </a>
  </div>
</div>