@model BTL.NET2.Models.User

@{
    ViewData["Title"] = "Me";
}

<div class="app-container" style="margin-top: 30px;">
    <form method="post" asp-action="Index">
        <div class="row">
            <div class="form-field col">
                <label for="email" class="field-label">Email</label>
                <input type="email" class="field-input" placeholder="Nhập vào địa chỉ email" id="email" name="Email"
                    required />
            </div>
            <div class="form-field col">
                <label for="Name" class="field-label">Tên</label>
                <input type="text" class="field-input" placeholder="Nhập vào tên" id="Name" name="Name" required />
            </div>

        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="form-field col">
                <label for="Phone" class="field-label">Số điện thoại</label>
                <input type="number" class="field-input" placeholder="Nhập vào số điện thoại" id="Phone" name="Phone"
                    required />
            </div>
            <div class="form-field col">
                <label for="Address" class="field-label">Địa chỉ</label>
                <input type="text" class="field-input" placeholder="Nhập vào địa chỉ" id="Address" name="Address"
                    required />
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="form-field">
                <button class="btn btn-info text-white">
                    Cập nhật thông tin
                </button>
            </div>
        </div>
    </form>
</div>