@* 
    @author: Nghiêm Hữu Hoài
*@

@{
    ViewData["Title"] = "Series";
}

<div class="app-search app-container">
    <form action="/Search" class="app-search-content">
        <input type="text" class="search-input" placeholder="Bạn tìm phim nào hôm nay?" name="keyword" autocomplete="off" required />
        <button class="base-btn btn-search" type="submit" title="Tìm phim ngay">Tìm kiếm</button>
    </form>
</div>
<div class="app-content-movie app-container">
    <div class="app-content-wrapper">
    <h2 class="app-content-heading">Phim Bộ</h2>
    <div class="movie-list"></div>
</div>
<div class="next-page"></div>


@section Scripts {
    <script src="~/js/series.js" type="module" asp-append-version="true"></script>
}
