@* 
    @author: Nghiêm Hữu Hoài
*@

@{
    ViewData["Title"] = "Details";
}

<div class="app-play-movie app-container">
    <div class="play-movie-content">
        <div class="play-movie-frame"></div>
        <div class="play-sidebar">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/watch.js" type="module" asp-append-version="true"></script>
}
