@{
    ViewData["Title"] = "Home Page";
}

<div class="app-banner container-full">
</div>
<div class="app-content-movie app-container">
    <div class="app-content-wrapper">
        <h2 class="app-content-heading">Phim Chiếu Rạp Phổ Biến</h2>
        <div class="movie-list popular"></div>
    </div>
    <div class="app-content-wrapper">
        <h2 class="app-content-heading">Phim Chiếu Rạp Có Điểm Đánh Giá Cao Nhất</h2>
        <div class="movie-list top-rated"></div>
    </div>
    <div class="app-content-wrapper">
        <h2 class="app-content-heading">Phim Chiếu Rạp Sắp Ra Mắt</h2>
        <div class="movie-list up-coming"></div>
    </div>
</div>

@section Scripts {
    @* <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> *@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/common/index.js" type="module" asp-append-version="true"></script>
    <script src="~/js/home.js" type="module" asp-append-version="true"></script>
}
